.custom-bg-blue {
    background-color: #9CF6F6;
}

.custom-bg-linen {
    background-color: #FEEFE5;
}

.custom-bg-salmon {
    background-color: #F3C98B;
}

.custom-bg-green {
    background-color: #313638;
}

.custom-bg-grenat {
    background-color: #EF6461;
}